{{ define "main"}}
<main class="site-main">
  <section class="main">
    <div class="container">
      {{/* <div class="row">
        <div class="col">
          {{ partial "title" . }}
        </div>
      </div> */}}
      {{/* <div class="row"> */}}
        <section class="portfolio-area">
          <div class="container">
            <div class="portfolio-title pb-5">
              <h1 class="title-h1">Portfolio</h1>
            </div>

            <div class="button-group" id="myBtnContainer">
              <button type="button" class="filter" onclick="filterSelection('all')">All</button>
              <button type="button" class="filter" onclick="filterSelection('character-art')">Character art</button>
              <button type="button" class="filter" onclick="filterSelection('studies')">Studies</button>
              <button type="button" class="filter" onclick="filterSelection('concept-art')">Concept art</button>
              <button type="button" class="filter" onclick="filterSelection('paintings')">Paintings</button>
            </div>

            <!-- images -->
            <div class="masonry">
              {{ $data := getJSON "/content/portfolio/portfolio.json"}}
              {{ range $data.portfolioList }}
              {{ $src := .src }}
              {{ $class := .class }}
              <div class="grid-images {{ $class }}">
                <img src="{{ $src }}" height="{{ .Height }}" width="{{ .Width }}" alt="{{ $class }}" class="img-fluid">
              </div>
              {{ end }}
            </div>
            <!-- predefined popup that we will fill when an image is clicked -->
            <div id="popup">
              <img src="" alt="">
            </div>


          </div>
        </section>

        <!-- {{- $images := .Resources.ByType "image" -}}
        {{ range $images }}
        <div class="col-6 col-md-4 col-xl-3 pb-3 px-2">
          <img src="{{ .RelPermalink}}" height="{{ .Height }}" width="{{ .Width }}" alt="Artwork Image" class="img-fluid">
        </div>
        {{ end }} -->
        {{/*
      </div> */}}
    </div>
  </section>

</main>

{{ end }}